@font-face {
    font-family: "Impact";
    font-weight: 500;
    src: url("../assets/fonts/impact/impact.ttf") format("truetype");
}

@font-face {
    font-family: "Impacted";
    font-weight: 500;
    src: url("../assets/fonts/impact/Impacted.ttf") format("truetype");
}

@font-face {
    font-family: "UniImpact";
    font-weight: 500;
    src: url("../assets/fonts/impact/unicode.impact.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/open-sans/static/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/open-sans/static/OpenSans-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/open-sans/static/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/open-sans/static/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/open-sans/static/OpenSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Bruce Forever";
    src: url("../assets/fonts/bruce-forever/BruceForeverRegular-X3jd2.ttf") format("truetype");
}