@media(max-width: 768px){
    /* hero section start */
    #hero .section {
        flex-direction: column;
    }

    #hero::before {
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 35%, 0 75%);
    }

    #hero::after {
        background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,.75), transparent, rgba(0,0,0,1));
    }

    #hero .hero-left, #hero .hero-right {
        flex: auto;
    }

    #hero .hero-left .hero-left-content {
        height: max-width;
        justify-content: flex-start;
    }

    #hero .hero-right {
        flex-direction: column;
    }

    #hero .hero-right .hero-download-inpc-info {
        display: none;
    }
    /* hero section start */

    /* about start */
    #about .section-title .section-title-content {
        align-items: center;
    }

    #about .section-title .section-title-content {
        padding-inline-end: 1rem;
    }
    #about .section-title .section-title-content::after {
        display: none;
    }

    #about .about-decorator {
        top: 7rem;
        width: calc(100% - 2rem);
        height: 1.875rem; /* 30px */
        position: absolute;
        z-index: -1;
    }

    #about .about-decorator::after, #about .about-decorator::before {
        width: 50%;
        height: 0.125rem;
        left: 50%;
        top: 50%;
    }

    #about .about-decorator::before {
        bottom: initial;
        left: 0;
    }

    #about .about-decorator span{
        transform: translate(-50%) rotate(0);
        top: 5%;
        left: 50%;
    }

    #about .about-content {
        margin-top: 5rem;
        flex-direction: column;
    }

    #about .about-content .about-content-right {
        max-width: 38rem; /* 525px */
    }

    #about .about-content-info {
        margin-top: 2rem;
    }
    /* end start */

    /* best agent start */
    #best-agents {
        --best-agents-header-height: 12rem;
    }

    #best-agents::after {
        width: 100%;
        left: 0;
        transform: skew(0deg);
        border-radius: 0;
        z-index: -2;
    }
    
    #best-agents::before {
        /* width: 100%; */
        height: var(--best-agents-header-height);
        top: var(--best-agents-header-height);
        transform: skew(-10deg);
        border-radius: 1.25rem 0 0 1.25rem; /* 20px */
    }

    #best-agents .section {
        flex-direction: column;
    }

    #best-agents .best-agents-header .section-title-content {
        z-index: -1;
    }

    #best-agents .best-agents-agent-body {
        max-width: 30rem;
        bottom: 0;
        height: initial;
        left: 65%;
        width: 100%;
    }

    #best-agents .best-agents-agent-body img {
        filter: drop-shadow(0 0 0 var(--gray))
    }

    #best-agents .best-agents-right {
        gap: 1rem;
        flex-direction: row;
    }

    #best-agents .best-agents-agent-info {
        margin-top: 2rem;
    }

    #best-agents .best-agents-right .best-agents-feature  {
        gap: 1.5rem;
    }

    #best-agents .best-agents-wardrobe .best-agents-wardrobe-profile {
        width: 4.5rem;
        height: 4.5rem;
    }

    #best-agents .best-agents-wardrobe .best-agents-wardrobe-profile.best-agents-wardrobe-profile-active {
        border: 0.225rem solid var(--primary);
    }

    #best-agents .best-agents-agent-info-description {
        font-size: .85rem;
        max-width: 22rem;
    } 

    #best-agents .best-agents-agent-info-role p {
        letter-spacing: .5px;
    }

    #best-agents .best-agents-feature {
        order: 1;
    }
    
    #best-agents .best-agents-content {
        order: 0;
        align-items: flex-start;
    }

    #best-agents .best-agents-content p  {
        max-width: 18rem;
        text-align: start;
    }

    #best-agents .best-agents-content h2  {
        font-size: 2.5rem;
        max-width: max-content !important;
        text-align: start;
    }
    
    #best-agents .best-agents-wardrobe {
        order: 0;
        flex-direction: row;
    }

    #best-agents .btn-agents-view-more {
        order: 1;
    }

    #best-agents .best-agents-right .best-agents-feature{
        flex: initial;
    }
    /* best agent end */

    /* latest news start */
    #latest-news .section {
        flex-direction: column;
    }

    #latest-news .section::before {
        display: none;
    }

    #latest-news .latest-news-content-info {
        flex-direction: column;
    }

    #latest-news .latest-news-content-navigator {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    #latest-news .latest-news-content-description {
        max-width: 100%; 
        text-align: start;
    }

    #latest-news .latest-news-content-navigator-identifiers span {
        width: 1.5rem;
        height: 1.5rem;
    }
    /* latest news end */
}

@media(max-width: 500px){
    /* hero section start */
    #hero::after {
        background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,.75), rgba(0,0,0,.25), rgba(0,0,0,1));
    }
    /* hero section end */

    /* about section start */
    #about .about-content .about-content-left::after {
        width: 50%;
        height: 100%;
    }
    
    #about .about-content .about-content-left::before {
        width: 85%;
        height: 11.75rem;
    }
    /* about section end */
    
    /* best agents section start */
    #best-agents .best-agents-agent-info-role {
        max-width: 10rem;
    }

    #best-agents .best-agents-agent-info {
        gap: .5rem;
    }

    #best-agents .best-agents-agent-info-name {
        font-size: 1.35rem;
        padding: 1.3rem 3.3rem;
    }

    #best-agents .best-agents-content p {
        background: var(--gray);
        padding: .625rem;
    }

    #best-agents .best-agents-content h2  {
        font-size: 2.2rem;
        max-width: max-content !important;
        text-align: start;
    }

    #best-agents .best-agents-wardrobe {
        flex-direction: column;
        border: 1px solid var(--dim-white);
    }

    #best-agents .best-agents-right .best-agents-feature  {
        gap: 1rem;
    }

    #best-agents .best-agents-agent-info-name {
        font-size: 1.2rem;
    }

    #best-agents .best-agents-agent-info-description {
        font-size: .8rem;
        max-width: 16rem;
    }

    #best-agents .best-agents-agent-body {
        left: 70%;
    }

    #best-agents .best-agents-content {
        gap: .5rem
    }
    /* best agents section end */

    /* latest news section start */
    #latest-news .section .latest-news-content .latest-news-content-images-viewer {
        height: 20rem;
    }
    
    #latest-news .section-title-content::after {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        width: 50%;
        height: 100%;
        background: var(--primary);
        z-index: -1;
    }
    /* latest news section end */

    
}

@media(max-width: 400px){
    /* best agents section start */
    #best-agents .best-agents-right {
        gap: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }

    #best-agents .best-agents-right .best-agents-wardrobe {
        flex-direction: row;
    }

    #best-agents .best-agents-right .best-agents-feature{
        margin-top: 1rem;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    #best-agents .best-agents-right {
        padding-top: 6rem;
    }
    /* best agents section end */
}

@media(max-width: 350px){
    /* hero section start */
    #hero::before {
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 50%, 0 60%);
    }

    #hero::after {
        background: linear-gradient(to right, rgba(0,0,0,.75), transparent);
    }
    /* hero section end */

    /* about section start */
    #about .about-content-info {
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }

    #about .about-content-info-card {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        width: 100%;
    }

    #about .about-content-info-card h5 {
        font-size: 1.5rem;
    }

    #about .about-content-info-card p {
        text-align: end;
    }

    #about .about-content-info-seperator {
        width: 100%; 
        height: 0.0625rem;
    }

    #about .about-content .about-content-left::after {
        width: 45%;
        height: 100%;
    }
    
    #about .about-content .about-content-left::before {
        width: 85%;
        height: 9.75rem; /* 220px */
    }
    /* about section end */
}